@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
.nav{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background: #666666;
    color: #ffffff;
    font-family: 'Quintessential', cursive;
}
.nav li{
    display: inline;
    padding: 0 12px;
}
.nav li a{
    color: #ffffff;
    text-decoration: none;
}